[submodule "lib/vk-bootstrap"]
	path = lib/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/icaven/glm
[submodule "lib/expected"]
	path = lib/expected
	url = https://github.com/TartanLlama/expected/
[submodule "lib/glslang"]
	path = lib/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "lib/tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
